<a href="https://colab.research.google.com/github/ArnavPabby/ds1002-ncn6dt/blob/main/Class20thOctober.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#validating input

var1 = 3
var2 = 5

def add(var1,var2):
  return var1+var2


add(var1,var2)

8

In [3]:
#forces the parameters and the return to be of a specific data type
def add2(var3: int, var4: int) -> int:
  return var3+var4

In [4]:
add2.__annotations__

{'var3': int, 'var4': int, 'return': int}

In [6]:
def add3 (var3: int, var4: int) -> int:
  if(type(var3) == int) and (type(var4)== int):
    return var3+var4
  else:
    print("you need two integers to use this function")

add3(15,143)

158

In [9]:
#using user inputs
def add4 ():
  var3 = input("Input first number:")
  var3 = int(var3)
  var4 = input("Input second number:")
  var4 = int(var4)
  if(type(var3) == int) and (type(var4)== int):
    return int(var3)+int(var4)
  else:
    print("you need two integers to use this function")

add4()

Input first number:41
Input second number143

184