<a href="https://colab.research.google.com/github/ArnavPabby/ds1002-ncn6dt/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [5]:
# code here
x = 0
while x <= 20:
  if x%2 == 1:
    print("odd")
  else:
    print(x)
  x=x+1

0
odd
2
odd
4
odd
6
odd
8
odd
10
odd
12
odd
14
odd
16
odd
18
odd
20

## For-Loops with Lists

In [6]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [8]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for num in mylist:
  if num>=0:
    print(num)

9
15
23
4
92
47
33
17
18
38

In [9]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for num in mylist:
  if num>=0:
    print(num)
  else:
    num = num*-1
    print(num)

9
15
23
4
92
47
33
17
4
18
38
242

In [10]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for num in mylist:
  if num>20 and num<40:
    continue
  else:
    print(num)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [2]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [3]:
# Write a command to print out all the keys of this dict
capitals.keys()

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [4]:
# Write a command to print out all the values of this dict
capitals.values()

dict_values(['Washington DC', 'Rome', 'London', 'Bangkok', 'Brasilia'])

In [5]:
# Write a command to print all the keys and values for this dict
capitals.items()

dict_items([('United States', 'Washington DC'), ('Italy', 'Rome'), ('England', 'London'), ('Thailand', 'Bangkok'), ('Brazil', 'Brasilia')])

In [8]:
# Write a command to print only the first three values and NOTHING more.
count = 0
for country in capitals:
  while count<3:
   print(capitals[country])
   count = count+1
   break

Washington DC
Rome
London