<a href="https://colab.research.google.com/github/ArnavPabby/ds1002-ncn6dt/blob/main/homework/week-7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 7

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

Load the following dataset into pandas and perform the requested operations in code.

Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [2]:
# Load pandas and the data
import numpy as np
import pandas as pd

amz = pd.read_csv("https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv")

In [3]:
# show how many rows and columns are in this dataset
amz.shape

(25760, 10)

In [4]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
amz['duration'] = amz['duration'].str.strip(' minutes')
amz['duration'] = amz['duration'].astype('int')

In [5]:
# Now display the datatypes in the updated dataframe
amz.dtypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [6]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
print(amz['duration'].min())
print(amz['duration'].max())

1
1372

In [7]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
df2 = amz.query('duration>60')

In [8]:
# Now show both the min and max values of the duration column for your new dataset.
print(df2['duration'].min())
print(df2['duration'].max())

61
1372

In [9]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
df2 = df2.query('tire_size>26')

In [11]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
print(df2.query('user_gender == "Female"').sum())

duration                                                        5028
station_A_id                                                     595
station_A_name     San Francisco Ferry Building (Harry Bridges Pl...
station_B_id                                                    2340
station_B_name     23rd St at Tennessee StPowell St BART Station ...
bike_id                                                       109834
user_type                                                         59
user_birth_year                                                59455
user_gender        FemaleFemaleFemaleFemaleFemaleFemaleFemaleFema...
tire_size                                                        842
dtype: object