<a href="https://colab.research.google.com/github/ArnavPabby/ds1002-ncn6dt/blob/main/notebooks/21-dataframes-in-r-student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Frames in R

Build a data frame by hand.

In [1]:
album <- c("The Low End Theory", "Nevermind", "Port of Morrow",
           "Dark Side of the Moon", "Naked", "OK Computer",
           "Abbey Road", "Thriller", "Rumours", "The Joshua Tree")
year <- c(1991, 1991, 2012, 1973, 1988, 1997, 1969, 1982, 1977, 1987)
digital <- c(FALSE, FALSE, TRUE, FALSE, TRUE, TRUE, FALSE, FALSE, FALSE, TRUE)

df <- data.frame(Album = album, Year = year, Digital = digital)

In [2]:
df
df <- data.frame(Album = album, Year = year, Digital = digital)
df

   Album                 Year Digital
1  The Low End Theory    1991 FALSE
2  Nevermind             1991 FALSE
3  Port of Morrow        2012  TRUE
4  Dark Side of the Moon 1973 FALSE
5  Naked                 1988  TRUE
6  OK Computer           1997  TRUE
7  Abbey Road            1969 FALSE
8  Thriller              1982 FALSE
9  Rumours               1977 FALSE
10 The Joshua Tree       1987  TRUE

## Insert a Column

In [4]:
df$Year

 [1] 1991 1991 2012 1973 1988 1997 1969 1982 1977 1987

## Get the Structure

In [6]:
df$Artist <- c("A Tribe Called Quest", "Nirvana", "The Shins",
                "Pink Floyd", "Talking Heads", "Radiohead", "The Beatles",
                "Michael Jackson", "Fleetwood Mac", "U2")

df

   Album                 Year Digital Artist
1  The Low End Theory    1991 FALSE   A Tribe Called Quest
2  Nevermind             1991 FALSE   Nirvana
3  Port of Morrow        2012  TRUE   The Shins
4  Dark Side of the Moon 1973 FALSE   Pink Floyd
5  Naked                 1988  TRUE   Talking Heads
6  OK Computer           1997  TRUE   Radiohead
7  Abbey Road            1969 FALSE   The Beatles
8  Thriller              1982 FALSE   Michael Jackson
9  Rumours               1977 FALSE   Fleetwood Mac
10 The Joshua Tree       1987  TRUE   U2

In [7]:
str(df)

'data.frame':	10 obs. of  4 variables:
 $ Album  : chr  "The Low End Theory" "Nevermind" "Port of Morrow" "Dark Side of the Moon" ...
 $ Year   : num  1991 1991 2012 1973 1988 ...
 $ Digital: logi  FALSE FALSE TRUE FALSE TRUE TRUE ...
 $ Artist : chr  "A Tribe Called Quest" "Nirvana" "The Shins" "Pink Floyd" ...

In [8]:
df[,1:2]

   Album                 Year
1  The Low End Theory    1991
2  Nevermind             1991
3  Port of Morrow        2012
4  Dark Side of the Moon 1973
5  Naked                 1988
6  OK Computer           1997
7  Abbey Road            1969
8  Thriller              1982
9  Rumours               1977
10 The Joshua Tree       1987

In [9]:
df[1:5,]

  Album                 Year Digital Artist
1 The Low End Theory    1991 FALSE   A Tribe Called Quest
2 Nevermind             1991 FALSE   Nirvana
3 Port of Morrow        2012  TRUE   The Shins
4 Dark Side of the Moon 1973 FALSE   Pink Floyd
5 Naked                 1988  TRUE   Talking Heads

In [11]:
df[6,4]

[1] "Radiohead"

In [13]:
df[, -(2:3)]
df[, c(1,4)]

   Album                 Artist
1  The Low End Theory    A Tribe Called Quest
2  Nevermind             Nirvana
3  Port of Morrow        The Shins
4  Dark Side of the Moon Pink Floyd
5  Naked                 Talking Heads
6  OK Computer           Radiohead
7  Abbey Road            The Beatles
8  Thriller              Michael Jackson
9  Rumours               Fleetwood Mac
10 The Joshua Tree       U2

   Album                 Artist
1  The Low End Theory    A Tribe Called Quest
2  Nevermind             Nirvana
3  Port of Morrow        The Shins
4  Dark Side of the Moon Pink Floyd
5  Naked                 Talking Heads
6  OK Computer           Radiohead
7  Abbey Road            The Beatles
8  Thriller              Michael Jackson
9  Rumours               Fleetwood Mac
10 The Joshua Tree       U2

In [14]:
df[, c(4,2)]

   Artist               Year
1  A Tribe Called Quest 1991
2  Nirvana              1991
3  The Shins            2012
4  Pink Floyd           1973
5  Talking Heads        1988
6  Radiohead            1997
7  The Beatles          1969
8  Michael Jackson      1982
9  Fleetwood Mac        1977
10 U2                   1987

In [15]:
df[,c("Album", "Artist")]

   Album                 Artist
1  The Low End Theory    A Tribe Called Quest
2  Nevermind             Nirvana
3  Port of Morrow        The Shins
4  Dark Side of the Moon Pink Floyd
5  Naked                 Talking Heads
6  OK Computer           Radiohead
7  Abbey Road            The Beatles
8  Thriller              Michael Jackson
9  Rumours               Fleetwood Mac
10 The Joshua Tree       U2

## Slicing & Filtering

Remember that a data frame is simply a 2-dimensional array. Rows + Columns.

The `[ ]` selector has two halves, separated by a comma: `[ <ROWS> , <COLUMNS> ]`

In [17]:
df[df$Digital == FALSE,]

  Album                 Year Digital Artist
1 The Low End Theory    1991 FALSE   A Tribe Called Quest
2 Nevermind             1991 FALSE   Nirvana
4 Dark Side of the Moon 1973 FALSE   Pink Floyd
7 Abbey Road            1969 FALSE   The Beatles
8 Thriller              1982 FALSE   Michael Jackson
9 Rumours               1977 FALSE   Fleetwood Mac

In [18]:
df[df$Year > 1990,]

  Album              Year Digital Artist
1 The Low End Theory 1991 FALSE   A Tribe Called Quest
2 Nevermind          1991 FALSE   Nirvana
3 Port of Morrow     2012  TRUE   The Shins
6 OK Computer        1997  TRUE   Radiohead

In [19]:
df[df$Year > 1990 & df$Digital == TRUE,]

  Album          Year Digital Artist
3 Port of Morrow 2012 TRUE    The Shins
6 OK Computer    1997 TRUE    Radiohead

In [20]:
df[df$Year > 1990 | df$Digital == TRUE,]

   Album              Year Digital Artist
1  The Low End Theory 1991 FALSE   A Tribe Called Quest
2  Nevermind          1991 FALSE   Nirvana
3  Port of Morrow     2012  TRUE   The Shins
5  Naked              1988  TRUE   Talking Heads
6  OK Computer        1997  TRUE   Radiohead
10 The Joshua Tree    1987  TRUE   U2

## `tidyverse`

In [24]:
# Installing packages
install.packages("tidyverse")
library(tidyverse)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
# Loading a library

In [26]:
# Piping
 %>% = piping

ERROR: ignored

In [27]:
df %>%
  select(Albun,Year)%>%
  filter(Year>1990)

ERROR: ignored

In [29]:
# Loading a CSV file into a data frame
titanic <- read.csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [30]:
titanic

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
6    6          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
14  14          0        3
15  15          0        3
16  16          1        2
17  17          0        3
18  18          1        2
19  19          0        3
20  20          1        3
21  21          0        2
22  22          1        2
23  23          1        3
24  24          1        1
25  25          0        3
26  26          1        3
27  27          0        3
28  28          0        1
29  29          1        3
30  30          0        3
⋮   ⋮           ⋮        ⋮
862 862         0        2
863 863         1        1
864 864         0        3
865 865         0        2
866 866         1        2
867 867         1        2
868 868         0        1
869 869         0        3
870 870         1        3
871 871         0        3
872 872         1        1
873 873         0        1
874 874         0        3
875 875         1        2
876 876         1        3
877 877         0        3
878 878         0        3
879 879         0        3
880 880         1        1
881 881         1        2
882 882         0        3
883 883         0        3
884 884         0        2
885 885         0        3
886 886         0        3
887 887         0        2
888 888         1        1
889 889         0        3
890 890         1        1
891 891         0        3
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   22  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38  1
3   Heikkinen, Miss. Laina                                    female 26  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35  1
5   Allen, Mr. William Henry                                  male   35  0
6   Moran, Mr. James                                          male   NA  0
7   McCarthy, Mr. Timothy J                                   male   54  0
8   Palsson, Master. Gosta Leonard                            male    2  3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 14  1
11  Sandstrom, Miss. Marguerite Rut                           female  4  1
12  Bonnell, Miss. Elizabeth                                  female 58  0
13  Saundercock, Mr. William Henry                            male   20  0
14  Andersson, Mr. Anders Johan                               male   39  1
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 14  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55  0
17  Rice, Master. Eugene                                      male    2  4
18  Williams, Mr. Charles Eugene                              male   NA  0
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31  1
20  Masselmani, Mrs. Fatima                                   female NA  0
21  Fynney, Mr. Joseph J                                      male   35  0
22  Beesley, Mr. Lawrence                                     male   34  0
23  McGowan, Miss. Anna "Annie"                               female 15  0
24  Sloper, Mr. William Thompson                              male   28  0
25  Palsson, Miss. Torborg Danira                             female  8  3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38  1
27  Emir, Mr. Farred Chehab                                   male   NA  0
28  Fortune, Mr. Charles Alexander                            male   19  3
29  O'Dwyer, Miss. Ellen "Nellie"                             female NA  0
30  Todoroff, Mr. Lalio                                       male   NA  0
⋮   ⋮                                                         ⋮      ⋮   ⋮
862 Giles, Mr. Frederick Edward                               male   21  1
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48  0
864 Sage, Miss. Dorothy Edith "Dolly"                         female NA  8
865 Gill, Mr. John William                                    male   24  0
866 Bystrom, Mrs. (Karolina)                                  female 42  0
867 Duran y More, Miss. Asuncion                              female 27  1
868 Roebling, Mr. Washington Augustus II                      male   31  0
869 van Melkebeke, Mr. Philemon                               male   NA  0
870 Johnson, Master. Harold Theodor                           male    4  1
871 Balkic, Mr. Cerin                                         male   26  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47  1
873 Carlsson, Mr. Frans Olof                                  male   33  0
874 Vander Cruyssen, Mr. Victor                               male   47  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 15  0
877 Gustafsson, Mr. Alfred Ossian                             male   20  0
878 Petroff, Mr. Nedelio                                      male   19  0
879 Laleff, Mr. Kristo                                        male   NA  0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 25  0
882 Markun, Mr. Johann                                        male   33  0
883 Dahlberg, Miss. Gerda Ulrika                              female 22  0
884 Banfield, Mr. Frederick James                             male   28  0
885 Sutehall, Mr. Henry Jr                                    male   25  0
886 Rice, Mrs. William (Margaret Norton)                      female 39  0
887 Montvila, Rev. Juozas                                     male   27  0
888 Graham, Miss. Margaret Edith                              female 19  0
889 Johnston, Miss. Catherine Helen "Carrie"                  female NA  1
890 Behr, Mr. Karl Howell                                     male   26  0
891 Dooley, Mr. Patrick                                       male   32  0
    Parch Ticket           Fare     Cabin       Embarked
1   0     A/5 21171          7.2500             S
2   0     PC 17599          71.2833 C85         C
3   0     STON/O2. 3101282   7.9250             S
4   0     113803            53.1000 C123        S
5   0     373450             8.0500             S
6   0     330877             8.4583             Q
7   0     17463             51.8625 E46         S
8   1     349909            21.0750             S
9   2     347742            11.1333             S
10  0     237736            30.0708             C
11  1     PP 9549           16.7000 G6          S
12  0     113783            26.5500 C103        S
13  0     A/5. 2151          8.0500             S
14  5     347082            31.2750             S
15  0     350406             7.8542             S
16  0     248706            16.0000             S
17  1     382652            29.1250             Q
18  0     244373            13.0000             S
19  0     345763            18.0000             S
20  0     2649               7.2250             C
21  0     239865            26.0000             S
22  0     248698            13.0000 D56         S
23  0     330923             8.0292             Q
24  0     113788            35.5000 A6          S
25  1     349909            21.0750             S
26  5     347077            31.3875             S
27  0     2631               7.2250             C
28  2     19950            263.0000 C23 C25 C27 S
29  0     330959             7.8792             Q
30  0     349216             7.8958             S
⋮   ⋮     ⋮                ⋮        ⋮           ⋮
862 0     28134            11.5000              S
863 0     17466            25.9292  D17         S
864 2     CA. 2343         69.5500              S
865 0     233866           13.0000              S
866 0     236852           13.0000              S
867 0     SC/PARIS 2149    13.8583              C
868 0     PC 17590         50.4958  A24         S
869 0     345777            9.5000              S
870 1     347742           11.1333              S
871 0     349248            7.8958              S
872 1     11751            52.5542  D35         S
873 0     695               5.0000  B51 B53 B55 S
874 0     345765            9.0000              S
875 0     P/PP 3381        24.0000              C
876 0     2667              7.2250              C
877 0     7534              9.8458              S
878 0     349212            7.8958              S
879 0     349217            7.8958              S
880 1     11767            83.1583  C50         C
881 1     230433           26.0000              S
882 0     349257            7.8958              S
883 0     7552             10.5167              S
884 0     C.A./SOTON 34068 10.5000              S
885 0     SOTON/OQ 392076   7.0500              S
886 5     382652           29.1250              Q
887 0     211536           13.0000              S
888 0     112053           30.0000  B42         S
889 2     W./C. 6607       23.4500              S
890 0     111369           30.0000  C148        C
891 0     370376            7.7500              Q